@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 0 10px;
    background: #5372f0;
}

/* This is for main Container */
.Container{
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    min-width: 100px;
    padding: 15px;
}

/* This is for Inner main container */
.Container .Wrapper{
    max-width: 500px;
    border-radius: 10px;
    padding: 10px 10px 0;
    border: 1px solid lightgray;
}

/* This is for heading */
.Wrapper header{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    color: #000;
    padding: 15px;
    box-shadow: 0px 3px 5px 1px rgb(0, 0, 0, 0.1);
}

/* This is for main Content Container  */
.Wrapper .content{
    display: flex;
    flex-direction: column;
    padding: 40px 0 43px;
}

.content .Quate{
    display: flex;
    justify-content: center;
}

.Quate i{
    font-size: 18px;
    color: #5372f0;
}

.Quate i:first-child{
    margin: 1px 10px 0 0;
}

.Quate i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 1px 10px;
}

.Quate .QuateText{
    font-size: 20px;
    text-align: center;
}

.content .author{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-style: italic;
    margin: 20px 10px 0 0;
}

.content .author span{
    margin-left: 10px;
}

.content .author span{
    margin-right: 5px;
}

/* This is for Footer  */
.Wrapper footer{
    border-top: 1px solid lightgray;
    padding: 14px 20px;
}

.Wrapper footer .features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features ul{
    display: flex;
    align-items: center;
}

.features ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    color: #5372f0;
    background: #fff;
    text-align: center;
    line-height: 46px;
    border: 2px solid #5372f0;
    border-radius: 50%;
    transition: 0.2s linear;
    cursor: pointer;
}

.features ul li:hover{
    background: #5372f0;
    color: #fff;
}

/* This is for Next Quotes  */
.features button{
    border: none;
    outline: none;
    background: #5372f0;
    border: 2px solid #5372f0;
    border-radius: 5px;
    height: 50px;
    width: 125px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.features button.Loding{
    pointer-events: none;
    opacity: 0.7;
}

/* This is for responsiv */
@media (max-width : 460px) {
    .features ul li{
        margin-right: 10px;
        font-size: 18px;
        width: 45px;
        height: 45px;
        line-height: 41px;
        background: #5372f0;
        color: #fff;
        border: 2px solid #5372f0;
    }

    .features ul li:hover{
        background: #5372f0;
        color: #fff;
    }

    .features button{
        width: 100px;        
        font-size: 16px;
        font-weight: 500;
    }

    .Wrapper footer{
        padding: 14px 0px;
    }
}