@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgba(0, 0, 0, 0.897);
}

/* Start Building Choose your Player */

.Start{                 /* This is Editing for Home page means Start box container */
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.25s ease;
}

.Start.show{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0);
}

.Start .gamename{      /* Game title */
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 2px;
}

.Start .message{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.Start .StartButton{
    width: 100%;
    display: flex;
}

.Start .StartButton button{    /* Starting name page Select box Editing */
    width: 100%;
    border: none;
    outline: none;
    background: #56baed;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.Start .StartButton button:hover{
    transform: scale(0.96);
}

.Start .StartButton:last-child{
    margin-right: 5px;
}

.Start .StartButton button:first-child{
    margin-right: 5px;
}

/* Start building Play ground */

.container{     /* This is main container and all compoment centering help this */
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.2s ease;
    z-index: -10;
}

.container.active, .activenow{      /* This is for hidden */
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Playgorund {           /* This is for play ground means 9 boxs on Apply grid */
    width: 300px;
    padding: 10px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(3, 33%);   /* !Important */
    grid-template-rows: repeat(3,33%);   /* !Important */
}

.Playgorund .box{       /* This for X and O parent boxs */
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 7px;
    border-radius: 5px;
    color: #56baed;
}

.box span{
    font-size: 60px;
    font-weight: 600;
}

/* Start Building Turn Bar */

.choosePlayer {
    width: 100%;
    height: 70px;
    background: white;
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    transition: all 2s ease;
}
.choosePlayer span{
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-weight: 700;
    z-index: 1;
    color: white;
    transition: all 0.3s ease;
    position: relative;
}

.slider{
    position: absolute;
    width: 43%;
    height: 71%;
    background: #56baed;
    border-radius: 5px;
    left: 0%;       /* This is for animation and transition using 50% value to slide the slider perfectly */
    margin: 0px 0 0px 10px;
    z-index: 0;
    transition: all 0.3s ease;
}

.choosePlayer span:nth-child(2){
    color: #56baed;
}

.container.active .choosePlayer span:nth-child(2){
    color: white;
}

.container.active .choosePlayer span:first-child{
    color: #56baed;
}

.container.active .choosePlayer .slider{
    left: 50%;

}

/* Start Building draw match */
.Draw, .WonX{                 /* This is Editing for Draw box container */
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.Draw .Drawnow{
    color: #56baed;
    display: inline-block;
}

.Titleend{
    font-size: 10px;
    text-align: center;    
}

.Button{
    width: 100%;
    text-align: center;
}

.Button button{
    width: 60%;
    height: 40px;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background: #56baed;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


.Draw{
    opacity: 0;
    z-index: -101;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
}

.Draw.ShowDraw{
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -50%) scale(1);
}

.Draw .TitleDraw{
    font-size: 22px;
    color: #56baed;
    pointer-events: none;
}      

.Button button:hover{
    transform: scale(0.96);
}

/* Start Building for won match */

.WonX{
    opacity: 0;
    z-index: -102;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
}


.WonX.ShowWon{
    opacity: 1;
    z-index: 100;
    transform: translate(-50%, -50%) scale(1);
}

.Titleend span{
    font-size: 25px;
    color: #56baed;
    pointer-events: none;
}      